@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Rosarivo:ital@1&display=swap');/* font-family: 'Marck Script', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-offset: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden
}
#home{
    width: 100vw;
    height: 100%; /* dabet 100% bet taku screen'aka pr bkatawa. */
    background-image:  url(../BackgroundImages/wallpaperflare.com_wallpaper.jpg)  ;
    background-color: black;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: none; /* aquamarine */
    position:fixed;
    z-index: 100;
}
header nav{
    background-color: none; /* green */
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0vh 5vw;
    z-index: 100;
    white-space: nowrap;

    background-color: rgba(95, 94, 95, 0.1);    /* make it glassy background */
    box-shadow: 2rem, 2rem, 5rem, rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
}
header nav a , header nav p{
    color: white;
    margin: 0vh 2vw;
    border: .18rem solid white;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.5vw 2vw;
    border-radius: 25%;
}
header nav a:hover , header nav p:hover { /* damanawet nav'aka bgoren katek click'y lasar dakain */
    transition: ease-out 0.5s;
    color: black;
    margin: 0vh 2vw;
    border: white solid 0.3rem;
    text-decoration: underline;
    box-shadow: 0 0 5px white,
    0 0 25px white,
    0 0 50px white,
    0 0 100px white;
    background-color: white;
}
ul li{
    display: block;
    list-style: none;
    position: relative;
    cursor: default;
}
ul li ul li a{
    display: block;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
display: block;
}
ul li ul li{
    position: absolute;
    top: 100%;
}
ul li ul li:nth-child(1){ top: 100%;}
ul li ul li:nth-child(2){ top: 200%}
ul li ul li:nth-child(3){ top: 300%}
body{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    background-size: 1545px 800px;
    background-color: rgba(0, 0, 0, 0.56);
}
#data{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    border-radius: 25px;
}
#data img{
    width: 70vw;
    height: 50vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#information{
    width: 70vw;
    height: 50vh;
    background-color: gray;
    text-align: center;
    color: white;
}
#data textarea{
    width: 70vw;
    height: 25vh;
    background-color: black;
    color: white;
}
#data button{
    width: 70vw;
    height: 5vh;
    cursor: pointer;
    background-color: black;
    color: white;
    font-family: 'Marck Script', cursive; 
    font-size: large;
}
#data button:hover{
    transition: ease-in-out .8s;
    text-decoration: underline;
    background-color: white;
    color: black;
}
#data #comment{
    width: 70vw;
    height: 25vh;
    background-color: white;
    color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 30px;
}
pre h5{
    font-size: large;
}
@media screen and (max-width:540px) {   /* just for the top buttons   usable for all pages */
    header nav a , header nav p{
        font-size: 1.2rem;
        margin: 0px 2px;
    }
}